[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "diversitree"]
	path = diversitree
	url = https://github.com/richfitz/diversitree
[submodule "redux"]
	path = redux
	url = https://github.com/richfitz/redux
[submodule "stevedore"]
	path = stevedore
	url = https://github.com/richfitz/stevedore
[submodule "storr"]
	path = storr
	url = https://github.com/richfitz/storr
[submodule "thor"]
	path = thor
	url = https://github.com/richfitz/thor
[submodule "TRAMPR"]
	path = TRAMPR
	url = https://github.com/richfitz/trampr
